.head_container {
    color:antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: none;
    background-color: #4A09ED;
    background-image: linear-gradient(to bottom, #230063,#510459);
    background-size: cover;
    background-position: center;
}

.head_lista a {
    font-size: 1.3rem;
  }  

.head_logo{
    max-width:7.5%;
    display: flex;
    align-items: center;
    border-radius:50%;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
    filter: brightness(0.88);
    opacity: 0.65;
}

.head_navegacion{
    text-align: center;
}

.menu{
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: .7rem;
    margin-left: .7rem;    
}

.menu.home :hover{
    font-size: 2rem;
    color:#7723C4;
    text-decoration: none;
}

.menu :hover{
    text-decoration: underline;
}

.icono{
    display: inline-block;
    align-items:center;
    margin-right: .7rem;
    margin-bottom: .7em;
    margin-left: .7rem;
}

.icono :hover{
    transform: scale(1.5);
}

@media screen and (min-width: 1024px) {
    .head_container {
        background-image: url(https://images.unsplash.com/photo-1641374069464-61371f667a4b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI1fHxtYWdpYyUyMGJvb2t8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
        background-size: cover;
    }
    .menu{
        font-size: 2rem;
    }

}