/* Estilo para body */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para header */
  header {
    background-color: #080808;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    display: flex;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  header a:hover {
    text-decoration: underline;
  }
  
  /* Estilo para el título principal */
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
  
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    text-align: center;
    margin-top: 40px;
  }
  
  /* Estilo para el formulario */
  .contenedor {
    box-shadow: 6px 9px 3px 0px rgba(103, 103, 103, 1);
  }
  
  .formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }
  
  .campo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 600px;
    margin: 10px 0;
  }
  
  .campo label {
    margin-right: 10px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #080808;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #080808;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  /* Estilo de mapa */
  .ubicacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
  }

  .mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 3px outset #000000;
  }
   
  /* Estilo de footer */
  footer {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  /* Boton Whatsapp */
  .whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  } 

}
