/* estilo header*/
.head_container {
  color:antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(https://images.unsplash.com/photo-1641374069464-61371f667a4b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI1fHxtYWdpYyUyMGJvb2t8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60);
  background-size: cover;
  background-position: center;
  height: 200px;
}

.head_lista a {
  font-size: 1.3rem;
  font-weight: 600;
}  

li  {
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.head_logo{
  max-width:7.5%;
  display: flex;
  align-items: center;
  border-radius:50%;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  filter: brightness(0.88);
  opacity: 0.65;
}

.head_navegacion{
  text-align: center;
}

.menu{
  display: inline-block;
  margin-right: .7rem;
  margin-bottom: .7rem;
  margin-left: .7rem;    
}

.menu.home :hover{
  font-size: 2rem;
  color:#7723C4;
  text-decoration: none;
}

.menu :hover{
  text-decoration: underline;
}

.icono{
  display: inline-block;
  align-items:center;
  margin-right: .7rem;
  margin-bottom: .7em;
  margin-left: .7rem;
}

.icono :hover{
  transform: scale(1.5);
}

/* BIENVENIDA */
.bienvenida {
  width: 100%;
  height: 20%;
  padding-bottom: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: url("./img/estante1.jpg") no-repeat center center/cover;
}

.bienvenida h2,
.bienvenida p {
  margin-bottom: 10px;
  color: black;
}

/*LIBROS*/
.libros {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin: 10px 0;
}

.libros img {
  width: 100%;
}

.libros h3 {
  font-size: 20px;
  margin: 10px 0;
  }


.libros a {
  padding: 10px 0;
  color: white;
  text-transform: uppercase;
  display: inline-block;
  font-weight: bold;
}

/*TARJETA CONTACTO*/
.tarjeta-contacto {
  background: url(./imagenes/buy-books.jpg) no-repeat center center/cover;
  width: 100%;
  height: 350px;
  padding-bottom: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.tarjeta-contacto h2 {
  color: white;
}

.tarjeta-contacto h2,
.tarjeta-contacto a {
  margin: 10px 0 20px 0;
}


/*estilo catalogo*/
.main_container{
  background-color: bisque;
  background: linear-gradient(to bottom, rgb(225, 228, 196) 0%, rgb(180, 183, 162) 100%);
  padding-bottom: 2rem;
  margin-top:40px;
  border-color:  rgb(172, 174, 151)
}
.titulo{
font-size: 45px;
font-weight: bold;
font-style: italic;
padding: 1.1rem;
color: black;
padding-top: 10px;
}

.sec1_container{
margin-top: 10px;
margin-bottom: 10px;
}

.banner_container{
  height: 200px;
  display: flex;
  overflow:hidden;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.slide{
width: 100%;
height: 200px;
box-sizing: border-box;
transition: transform 0.5s ease-in-out;
}

.librosf1_container{
height: 290px;
display: flex;
justify-content:space-around;
margin-top: 50px;
}

.caja{
display: flex;
flex-direction: column;
align-items: center;
box-sizing: border-box;
border-radius: 10px;
margin-bottom: 20px;
}

.caja img {
  width: 150px;
  border: 4px solid #c78c19;
  border-radius: 10px;
}

.caja img:hover {
border-width:7px;
}

/*cat prueba*/

.caja p {
  margin: 0;
  padding: 10px;
  font-size: 14px;
  color: #333;
  text-align:end;
}

.caja button {
  display: inline;
  margin: 10px auto;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #c78c19;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.caja button:active {
  background-color: #7723C4;
}


/*no recuerdo de que es el estilo este*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: linen color: black;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.boton {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #fff;
  font-size: 15px;
  border: 1px solid #fff;
}

/* NAVEGACION */
.nav-main {
  font-size: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 20px 0;
}

.nav-logo {
  width: 60px;
}

.nav-main ul {
  display: flex;
}

.nav-main ul li {
  padding: 10px;
}

.nav-main ul li a {
  padding: 2px;
}

.nav-main ul li a:hover {
  border-bottom: 2px solid black;
}

.nav-main ul.nav-menu {
  flex: 1;
  margin-left: 20px;
}


/* Estilo para el formulario */
.formulario {
  max-width: 500px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.form-titulo {
  text-align: center;
  font-size: 30px;
  color: #333;
  margin-bottom: 30px;
}

label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

input[type="text"],
input[type="tel"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 20px;
  resize: none;
  color: #555;
}

select option:first-child {
  display: none;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

input[type="submit"]:hover {
  background-color: #555;
}

/* Estilo de mapa */
.ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  border: 3px outset #000000;
}

/*Estilo faqs*/
body {
  font-family: 'Helvetica Neue', sans-serif;
  color: #444;
  background-color: #f7f7f7;
  margin: 0;
  font-size: 16px;
}

main {
  background-color: #f7f7f7;
}

h2 {
  padding: 20px;
  font-size: 1.5rem;
  color: #000;
}

.faq {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  padding: 20px;
  border-radius: 5px;
}

h3 {
  font-size: 1.3rem;
  color: #336699;
}

p {
  font-size: 1rem;
  color: #666;
}

/*Estilo de Footer*/

footer{
  text-align: center;
  background: url(./imagenes/footer.jpg);
  margin-top:40px;
  padding-bottom: 10px;
}

.comit{
  color:#FFFFFF;
  font-size:17px;
  padding-top:10px;
}

.copyright{
  color:#FFFFFF;
  font-size: 13px;
  margin:20px;
}

.footer_logo{
  max-width:10%;
  border-radius:50%;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.5);
  filter: brightness(0.88);
  margin-top: 30px;
}

@media screen and (max-width: 700px) {
  .head_container {
    background-image: none;
    background-color: #4A09ED;
    background-image: linear-gradient(to bottom, #230063,#510459);
    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;
  }
  .head_logo{
   max-width:100px;
   }  
  .menu{
      font-size: 2rem;
  }
  .libros{
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
  .formulario{
    padding-left: 1.1rem;
    padding-right: 1.1rem;
  }
  element.style{
    text-align: center;
  }
  .mapa{
    max-width: 50px;
  }
  h2{
    text-align: center;
  }
  section{
    border:none;
  }
}